<app-navbar></app-navbar>
<div class="mt-24 flex justify-center max-w-3xl mx-auto">
    <div class="flex flex-col">
        <p class="text-gray-600 text-xs">home / hyderabad / pizza</p>
        <h2 class="font-bold text-xl mt-3">Pizza Hut</h2>
        <div class="box-border border shadow-[0_5px_5px_0_rgba(0,0,0.5,0.5)] flex flex-col pt-4 pb-4 pl-4 pr-96 rounded-xl mt-8">
            <p class="font-bold"><span></span>4.1 (3.7K+ ratings) • ₹300 for two</p>
            <a href="" class="text-red-700">Pizzas</a>
            <p>Outlet Bachupally <span></span></p>
            <p>50-55min</p>
            
        </div>

        <section class="my-12 relative">
            <h2 class="text-2xl font-bold mb-4">Deals for you</h2>
            <div class="flex overflow-hidden space-x-4" id="category-container4">
              <a  href="" class="p-4 flex-shrink-0 block" style="text-decoration: none;">
                <div class="flex-row flex box-border border rounded-3xl pt-2 pb-2 pl-3 pr-24">
                    <img src="assets/restaurant/one.png" class="w-12 h-12" alt="">
                    <div class="pl-3">
                        <p class="font-bold">Extra ₹25 Off</p>
                        <p>ENDS IN 10h: 54m: 39s</p>
                    </div>
                </div> 
              </a>

              <a  href="" class="p-4 flex-shrink-0 block" style="text-decoration: none;">
                <div class="flex-row flex box-border border rounded-3xl pt-2 pb-2 pl-3 pr-24">
                    <img src="assets/restaurant/logos/two.png" class="w-12 h-12" alt="">
                    <div class="pl-3">
                        <p class="font-bold">50% Off Upto 100</p>
                        <p>USE SWIGGY50</p>
                    </div>
                </div> 
              </a>

              <a  href="" class="p-4 flex-shrink-0 block" style="text-decoration: none;">
                <div class="flex-row flex box-border border rounded-3xl pt-2 pb-2 pl-3 pr-24">
                    <img src="assets/restaurant/logos/three.png" class="w-12 h-12" alt="">
                    <div class="pl-3">
                        <p class="font-bold">Flat ₹75 Off</p>
                        <p>USE RBLCC75</p>
                    </div>
                </div> 
              </a>
        
            </div>
            <app-scroll-navigation [containerId]="'category-container4'"></app-scroll-navigation>
          </section>


        <p class="mt-4 text-center text-gray-600 font-semibold">M E N U</p>

        <div class="relative mb-6 mt-3">
            <input 
              type="text" 
              placeholder="Search for dishes..." 
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-100 text-center font-semibold text-black"
            />
            <button class="absolute top-1 right-2 text-blue-500">
              <i class="bi bi-search"></i>
            </button>
          </div>
          
          <section class="my-12 relative ">
            <h2 class="text-2xl font-bold mb-4">Top picks</h2>
            <div class="flex overflow-hidden space-x-4" id="category-container3">
              <a  href="" class="p-4 flex-shrink-0 block" style="text-decoration: none;">
                <div class="relative w-72 h-72 rounded-2xl overflow-hidden">
                  <img
                    src="assets/restaurant/five.png"
                    alt="Restaurant Image"
                    class="w-full h-full object-cover"
                  />
                  <div class="absolute bottom-0 left-0 flex items-center p-2 bg-gradient-to-t from-black to-transparent w-full">
                    <span class="hidden">Pizza veg</span>
                    <span class="text-white font-bold text-lg mr-2">₹239</span>
                    <button class="ml-auto px-8 py-1 bg-white text-green-500 rounded-lg font-bold" >ADD</button>
                  </div>
                </div>
              </a>

              <a  href="" class="p-4 flex-shrink-0 block" style="text-decoration: none;">
                <div class="relative w-72 h-72 rounded-2xl overflow-hidden">
                  <img
                    src="assets/restaurant/five.png"
                    alt="Restaurant Image"
                    class="w-full h-full object-cover"
                  />
                  <div class="absolute bottom-0 left-0 flex items-center p-2 bg-gradient-to-t from-black to-transparent w-full">
                    <span class="hidden">Pizza veg</span>
                    <span class="text-white font-bold text-lg mr-2">₹239</span>
                    <button class="ml-auto px-8 py-1 bg-white text-green-500 rounded-lg font-bold" >ADD</button>
                  </div>
                </div>
              </a>

              
        
            </div>
            <app-scroll-navigation [containerId]="'category-container3'"></app-scroll-navigation>
          </section>

          <div class="container mx-auto p-4">
            <!-- Dropdown Button for "Recommended" Section -->
            <div class="flex justify-between items-center">
              <h2 class="font-bold text-xl">Recommended</h2>
              <!-- Button to toggle the dropdown -->
              <button (click)="toggleDropdown()" class="text-blue-500 hover:text-blue-700 font-semibold">
                {{ isDropdownVisible ? '▲' : '▼' }}
              </button>
            </div>
          
            <!-- Dropdown Content -->
            <div *ngIf="isDropdownVisible" class="mt-4">
              <!-- Food Item 1 -->
              <div class="flex flex-row space-x-6 mt-8">
                <!-- Food details section (left side) -->
                <div class="flex flex-col">
                  <p class="font-bold text-lg">Pepperoni Pizza</p>
                  <p class="text-xl font-semibold text-blue-600">₹599</p>
                  <p class="text-sm text-yellow-500">4.5 (85 reviews)</p>
                  <p class="text-sm text-gray-700">
                    Serves 1 | Loaded with spicy pepperoni, mozzarella cheese, and tangy tomato sauce. 
                    (PAN Per/Med-300 Kcal/100g | TnC-310 Kcal/100g)
                    Contains Cereals containing Gluten (Wheat), Soya, and Milk & Milk Products.
                  </p>
                </div>
              
                <!-- Food image section (right side) -->
                <div class="relative w-1/2 ml-4">
                  <img src="assets/restaurant/pizzas/one.png" alt="Pepperoni Pizza" class="w-40 h-32 object-cover rounded-xl">
                  <button (click)="addToCart({
                    name: 'Pepperoni Pizza',
                    price: '₹599',
                    image: 'assets/restaurant/pizzas/one.png',
                    restaurant: 'Pizza Hut',
                    location: 'Gachibowli',
                  })" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-blue-500 text-white rounded-full">
                    Add
                  </button>
                </div>
              </div>
              
              <hr class="my-5">

              <!-- food item 2 -->
              <div class="flex flex-row space-x-6 mt-8">
                <!-- Food details section (left side) -->
                <div class="flex flex-col">
                  <p class="font-bold text-lg">Margherita Pizza</p>
                  <p class="text-xl font-semibold text-blue-600">₹299</p>
                  <p class="text-sm text-yellow-500">4.2 (120 reviews)</p>
                  <p class="text-sm text-gray-700">
                    Serves 1 | Classic margherita with tangy tomato sauce, fresh basil, mozzarella cheese, and a drizzle of olive oil. 
                    (PAN Per/Med-210 Kcal/100g | TnC-230 Kcal/100g)
                    Contains Cereals containing Gluten (Wheat), Soya and Milk & Milk Products.
                  </p>
                </div>
              
                <!-- Food image section (right side) -->
                <div class="relative w-1/2 ml-4">
                  <img src="assets/restaurant/pizzas/two.png" alt="Margherita Pizza" class="w-40 h-32 object-cover rounded-xl">
                  <button (click)="addToCart({
                    name: 'Margherita Pizza',
                    price: '₹299',
                    image: 'assets/restaurant/pizzas/two.png',
                    restaurant: 'Pizza Hut',
                    location: 'Bachupally',
                  })" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-blue-500 text-white rounded-full">
                    Add
                  </button>
                </div>
              </div>

              <hr class="my-5">

              <!-- food item 3 -->
              <div class="flex flex-row space-x-6 mt-8">
                <!-- Food details section (left side) -->
                <div class="flex flex-col">
                  <p class="font-bold text-lg">Pepperoni Pizza</p>
                  <p class="text-xl font-semibold text-blue-600">₹499</p>
                  <p class="text-sm text-yellow-500">4.5 (150 reviews)</p>
                  <p class="text-sm text-gray-700">
                    Serves 1 | A fiery blend of pepperoni, mozzarella cheese, and spicy marinara sauce topped with oregano. 
                    (PAN Per/Med-270 Kcal/100g | TnC-280 Kcal/100g)
                    Contains Cereals containing Gluten (Wheat), Soya and Milk & Milk Products.
                  </p>
                </div>
              
                <!-- Food image section (right side) -->
                <div class="relative w-1/2 ml-4">
                  <img src="assets/restaurant/pizzas/one.png" alt="Pepperoni Pizza" class="w-40 h-32 object-cover rounded-xl">
                  <button (click)="addToCart({
                    name: 'Pepperoni Pizza',
                    price: '₹499',
                    image: 'assets/restaurant/pizzas/one.png',
                    restaurant: 'Pizza Hut',
                    location: 'Bachupally',
                  })" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-blue-500 text-white rounded-full">
                    Add
                  </button>
                </div>
              </div>

              <hr class="my-5">

              <!-- food item 4 -->
              <div class="flex flex-row space-x-6 mt-8">
                <!-- Food details section (left side) -->
                <div class="flex flex-col">
                  <p class="font-bold text-lg">BBQ Chicken Pizza</p>
                  <p class="text-xl font-semibold text-blue-600">₹599</p>
                  <p class="text-sm text-yellow-500">4.3 (200 reviews)</p>
                  <p class="text-sm text-gray-700">
                    Serves 1 | A smoky BBQ sauce base topped with grilled chicken, red onion, sweet corn, and melted cheese. 
                    (PAN Per/Med-320 Kcal/100g | TnC-330 Kcal/100g)
                    Contains Cereals containing Gluten (Wheat), Soya and Milk & Milk Products.
                  </p>
                </div>
              
                <!-- Food image section (right side) -->
                <div class="relative w-1/2 ml-4">
                  <img src="assets/restaurant/pizzas/three.png" alt="BBQ Chicken Pizza" class="w-40 h-32 object-cover rounded-xl">
                  <button (click)="addToCart({
                    name: 'BBQ Chicken Pizza',
                    price: '₹599',
                    image: 'assets/restaurant/pizzas/three.png',
                    restaurant: 'Pizza Hut',
                    location: 'Bachupally',
                  })" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-blue-500 text-white rounded-full">
                    Add
                  </button>
                </div>
              </div>

              <hr class="my-5">

              <!-- food item 5 -->
              <div class="flex flex-row space-x-6 mt-8">
                <!-- Food details section (left side) -->
                <div class="flex flex-col">
                  <p class="font-bold text-lg">Four Cheese Pizza</p>
                  <p class="text-xl font-semibold text-blue-600">₹649</p>
                  <p class="text-sm text-yellow-500">4.0 (75 reviews)</p>
                  <p class="text-sm text-gray-700">
                    Serves 1 | A rich combination of mozzarella, cheddar, parmesan, and blue cheese on a crispy crust. 
                    (PAN Per/Med-350 Kcal/100g | TnC-360 Kcal/100g)
                    Contains Cereals containing Gluten (Wheat), Soya and Milk & Milk Products.
                  </p>
                </div>
              
                <!-- Food image section (right side) -->
                <div class="relative w-1/2 ml-4">
                  <img src="assets/restaurant/pizzas/four.png" alt="Four Cheese Pizza" class="w-40 h-32 object-cover rounded-xl">
                  <button (click)="addToCart({
                    name: 'Four Cheese Pizza',
                    price: '₹649',
                    image: 'assets/restaurant/pizzas/four.png',
                    restaurant: 'Pizza Hut',
                    location: 'Bachupally',
                  })" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-blue-500 text-white rounded-full">
                    Add
                  </button>
                </div>
              </div>

              <hr class="my-5">

              <!-- food item 6 -->
              <div class="flex flex-row space-x-6 mt-8">
                <!-- Food details section (left side) -->
                <div class="flex flex-col">
                  <p class="font-bold text-lg">Hawaiian Pizza</p>
                  <p class="text-xl font-semibold text-blue-600">₹549</p>
                  <p class="text-sm text-yellow-500">4.4 (60 reviews)</p>
                  <p class="text-sm text-gray-700">
                    Serves 1 | A sweet and savory mix of pineapple, ham, mozzarella cheese, and tangy tomato sauce. 
                    (PAN Per/Med-280 Kcal/100g | TnC-290 Kcal/100g)
                    Contains Cereals containing Gluten (Wheat), Soya and Milk & Milk Products.
                  </p>
                </div>
              
                <!-- Food image section (right side) -->
                <div class="relative w-1/2 ml-4">
                  <img src="assets/restaurant/pizzas/five.png" alt="Hawaiian Pizza" class="w-40 h-32 object-cover rounded-xl">
                  <button (click)="addToCart({
                    name: 'Hawaiian Pizza',
                    price: '₹549',
                    image: 'assets/restaurant/pizzas/five.png',
                    restaurant: 'Pizza Hut',
                    location: 'Bachupally',
                  })" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-blue-500 text-white rounded-full">
                    Add
                  </button>
                </div>
              </div>

              
              
           
              

              
            </div>
          </div>   
        
        <section class="container mx-auto p-4 ">
          <h2 class="font-bold text-xl">Flavour Fun Range</h2>

          <div class="container mt-4">
            <!-- Dropdown Button for Flavour Fun Range Section -->
            <div class="flex justify-between items-center">
              <p class="font-bold text">Veg Pizza</p>
              <!-- Button to toggle the dropdown -->
              <button (click)="toggleFlavourFunDropdown()" class="text-blue-500 hover:text-blue-700 font-semibold">
                {{ isFlavourFunDropdownVisible ? '▲' : '▼' }}
              </button>
            </div>
          
            <!-- Dropdown Content for Flavour Fun Range (Initially Hidden) -->
            <div *ngIf="isFlavourFunDropdownVisible" class="mt-4">
              <!-- Food Item 1 -->
              <div class="flex flex-row space-x-6 mt-8">
                <!-- Food details section (left side) -->
                <div class="flex flex-col">
                  <p class="font-bold text-lg">Veggie Supreme Pizza</p>
                  <p class="text-xl font-semibold text-blue-600">₹499</p>
                  <p class="text-sm text-yellow-500">4.3 (75 reviews)</p>
                  <p class="text-sm text-gray-700">
                    Serves 1 | Topped with bell peppers, onions, olives, and jalapeños with a blend of mozzarella cheese. 
                    (PAN Per/Med-260 Kcal/100g | TnC-270 Kcal/100g)
                    Contains Cereals containing Gluten (Wheat), Soya, and Milk & Milk Products.
                  </p>
                </div>
              
                <!-- Food image section (right side) -->
                <div class="relative w-1/2 ml-4">
                  <img src="assets/restaurant/pizzas/veg3.png" alt="Veggie Supreme Pizza" class="w-40 h-32 object-cover rounded-xl">
                  <button (click)="addToCart({
                    name: 'Veggie Supreme Pizza',
                    price: '₹499',
                    image: 'assets/restaurant/pizzas/veg3.png',
                    restaurant: 'Dominos',
                    location: 'Madhapur',
                  })" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-blue-500 text-white rounded-full">
                    Add
                  </button>
                </div>
              </div>
              
              <hr class="my-5">

              <!-- Food Item 2 -->
              <div class="flex flex-row space-x-6 mt-8">
                <!-- Food details section (left side) -->
                <div class="flex flex-col">
                  <p class="font-bold text-lg">Farmhouse Pizza</p>
                  <p class="text-xl font-semibold text-blue-600">₹529</p>
                  <p class="text-sm text-yellow-500">4.6 (90 reviews)</p>
                  <p class="text-sm text-gray-700">
                    Serves 1 | Loaded with fresh tomatoes, crunchy capsicum, onions, and mushrooms with extra mozzarella. 
                    (PAN Per/Med-280 Kcal/100g | TnC-290 Kcal/100g)
                    Contains Cereals containing Gluten (Wheat), Soya, and Milk & Milk Products.
                  </p>
                </div>
              
                <!-- Food image section (right side) -->
                <div class="relative w-1/2 ml-4">
                  <img src="assets/restaurant/pizzas/veg2.png" alt="Farmhouse Pizza" class="w-40 h-32 object-cover rounded-xl">
                  <button (click)="addToCart({
                    name: 'Farmhouse Pizza',
                    price: '₹529',
                    image: 'assets/restaurant/pizzas/veg2.png',
                    restaurant: 'Pizza Hut',
                    location: 'Jubilee Hills',
                  })" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-blue-500 text-white rounded-full">
                    Add
                  </button>
                </div>
              </div>

              <hr class="my-5">

              <!-- food item 3 -->
              <div class="flex flex-row space-x-6 mt-8">
                <!-- Food details section (left side) -->
                <div class="flex flex-col">
                  <p class="font-bold text-lg">Cheese Burst Pizza</p>
                  <p class="text-xl font-semibold text-blue-600">₹579</p>
                  <p class="text-sm text-yellow-500">4.7 (120 reviews)</p>
                  <p class="text-sm text-gray-700">
                    Serves 1 | Filled with gooey cheese in every bite, topped with extra cheese and fresh herbs. 
                    (PAN Per/Med-300 Kcal/100g | TnC-320 Kcal/100g)
                    Contains Cereals containing Gluten (Wheat), Soya, and Milk & Milk Products.
                  </p>
                </div>
              
                <!-- Food image section (right side) -->
                <div class="relative w-1/2 ml-4">
                  <img src="assets/restaurant/pizzas/veg1.png" alt="Cheese Burst Pizza" class="w-40 h-32 object-cover rounded-xl">
                  <button (click)="addToCart({
                    name: 'Cheese Burst Pizza',
                    price: '₹579',
                    image: 'assets/restaurant/pizzas/veg1.png',
                    restaurant: 'Dominos',
                    location: 'Banjara Hills',
                  })" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-blue-500 text-white rounded-full">
                    Add
                  </button>
                </div>
              </div>
              
            </div>
          </div>

          <hr class="my-5">

          <div class="container mt-4">
            <!-- Dropdown Button for Flavour Fun Range Section -->
            <div class="flex justify-between items-center">
              <p class="font-bold text">Combos and Deals</p>
              <!-- Button to toggle the dropdown -->
              <button (click)="toggleFlavourFunDropdown()" class="text-blue-500 hover:text-blue-700 font-semibold">
                {{ isFlavourFunDropdownVisible ? '▲' : '▼' }}
              </button>
            </div>
          
            <!-- Dropdown Content for Flavour Fun Range (Initially Hidden) -->
            <div *ngIf="isFlavourFunDropdownVisible" class="mt-4">
              <!-- Food Item 1 -->
              <div class="flex flex-row space-x-6 mt-8">
                <!-- Combo details section (left side) -->
                <div class="flex flex-col">
                  <p class="font-bold text-lg">Family Feast Combo</p>
                  <p class="text-xl font-semibold text-blue-600">₹999</p>
                  <p class="text-sm text-yellow-500">4.8 (150 reviews)</p>
                  <p class="text-sm text-gray-700">
                    Serves 4 | Includes 2 large pizzas, 4 garlic breadsticks, and a 1.5L soft drink. Perfect for family gatherings!
                    (Approx. 1200 Kcal per person)
                    Contains Cereals containing Gluten (Wheat), Soya, and Milk & Milk Products.
                  </p>
                </div>
              
                <!-- Combo image section (right side) -->
                <div class="relative w-1/2 ml-4">
                  <img src="assets/restaurant/pizzas/combo1.png" alt="Family Feast Combo" class="w-40 h-32 object-cover rounded-xl">
                  <button (click)="addToCart({
                    name: 'Family Feast Combo',
                    price: '₹999',
                    image: 'assets/restaurant/pizzas/combo1.png',
                    restaurant: 'Dominos',
                    location: 'Madhapur',
                  })" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-blue-500 text-white rounded-full">
                    Add
                  </button>
                </div>
              </div>
              
              
              <hr class="my-5">

              <!-- Food Item 2 -->
              <div class="flex flex-row space-x-6 mt-8">
                <!-- Combo details section (left side) -->
                <div class="flex flex-col">
                  <p class="font-bold text-lg">Classic Duo Combo</p>
                  <p class="text-xl font-semibold text-blue-600">₹699</p>
                  <p class="text-sm text-yellow-500">4.6 (85 reviews)</p>
                  <p class="text-sm text-gray-700">
                    Serves 2 | Includes 1 medium Margherita and 1 medium Veggie Supreme, plus two servings of garlic breadsticks.
                    (Approx. 800 Kcal per person)
                    Contains Cereals containing Gluten (Wheat), Soya, and Milk & Milk Products.
                  </p>
                </div>
              
                <!-- Combo image section (right side) -->
                <div class="relative w-1/2 ml-4">
                  <img src="assets/restaurant/pizzas/combo2.png" alt="Classic Duo Combo" class="w-40 h-32 object-cover rounded-xl">
                  <button (click)="addToCart({
                    name: 'Classic Duo Combo',
                    price: '₹699',
                    image: 'assets/restaurant/pizzas/combo2.png',
                    restaurant: 'Pizza Hut',
                    location: 'Gachibowli',
                  })" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-blue-500 text-white rounded-full">
                    Add
                  </button>
                </div>
              </div>
              

              <hr class="my-5">

              <!-- food item 3 -->
              <div class="flex flex-row space-x-6 mt-8">
                <!-- Combo details section (left side) -->
                <div class="flex flex-col">
                  <p class="font-bold text-lg">Party Pack Combo</p>
                  <p class="text-xl font-semibold text-blue-600">₹1299</p>
                  <p class="text-sm text-yellow-500">4.9 (200 reviews)</p>
                  <p class="text-sm text-gray-700">
                    Serves 6 | A deal for gatherings: 3 large pizzas (mix of veg and non-veg), 6 beverages, and 2 dessert servings.
                    (Approx. 1000 Kcal per person)
                    Contains Cereals containing Gluten (Wheat), Soya, and Milk & Milk Products.
                  </p>
                </div>
              
                <!-- Combo image section (right side) -->
                <div class="relative w-1/2 ml-4">
                  <img src="assets/restaurant/pizzas/combo3.png" alt="Party Pack Combo" class="w-40 h-32 object-cover rounded-xl">
                  <button (click)="addToCart({
                    name: 'Party Pack Combo',
                    price: '₹1299',
                    image: 'assets/restaurant/pizzas/combo3.png',
                    restaurant: 'Dominos',
                    location: 'Banjara Hills',
                  })" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 px-4 py-2 bg-blue-500 text-white rounded-full">
                    Add
                  </button>
                </div>
              </div>
              
              
            </div>
          </div>

        </section>

        <div class="flex flex-col bg-gray-100 pb-32 mt-8">
            <div class="flex flex-row px-6 py-4">
                <img src="assets/restaurant/six.png" class="w-14" alt="">
                <p class="text-gray-400 text-xs pt-2 pl-2">License No. 13621034000274</p>
            </div>
            
            <h1 class="text-xs font-bold text-gray-400 pl-6">Pizza Hut</h1>
            <p class="text-gray-400 pl-6 text-xs">(Outlet:Bachupally)</p>
            <p class="text-gray-400 pl-6 pt-2 text-xs">Pizza Hut, Ground Floor, Plot No. 1519, Block No. 102, S.no. 165,166,167,178 & 179, Lahari Estate, Bachupally Mandal, Hyderabad, Bachupally, Medchal-Malkajgiri, Telangana-500090</p>
            <p class="font-bold text-center py-4 text-xs">For better experience, download the Swiggy app now</p>
            <div class="flex flex-row justify-center space-x-6">
                <a href=""><img src="assets/home/footer1.png" class="w-40 h-12" alt=""></a>
                <a href=""><img src="assets/home/footer2.png" class="w-40 h-12"  alt=""></a>
            </div>


        </div>
          

    </div>

</div>


