<app-navbar [inoffersview]="true"></app-navbar>
<div class="mt-28">

    <!-- Filter and Sort Options -->
    <section class="my-8 mx-40">
        <h2 class="text-xl font-bold mb-4">Restaurants with online food delivery in Chhindwara</h2>
        <div class="flex space-x-2 overflow-x-auto flex-wrap">
          <button class="px-4 py-2 bg-gray-200 rounded-3xl">Filter<i class="bi bi-funnel"></i></button>
          <button class="px-4 py-2 bg-gray-200 rounded-3xl">Sort By<i class="bi bi-chevron-down"></i></button>
          <button class="px-4 py-2 bg-gray-200 rounded-3xl">Fast Delivery</button>
          <button class="px-4 py-2 bg-gray-200 rounded-3xl">New on Swiggy</button>
          <button class="px-4 py-2 bg-gray-200 rounded-3xl">Ratings 4.0+</button>
          <button class="px-4 py-2 bg-gray-200 rounded-3xl">Pure Veg</button>
          <button class="px-4 py-2 bg-gray-200 rounded-3xl">Offers</button>
          <button class="px-4 py-2 bg-gray-200 rounded-3xl">Rs. 300-Rs.600</button>
          <button class="px-4 py-2 bg-gray-200 rounded-3xl">Less than Rs. 300</button>
        </div>
    </section>


    <!-- Restaurants with online food delivery in Chhindwara -->
    <section class="my-8 mx-40">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 p-4">
     <!-- First Item -->
    <a href="restaurant" class="p-4">
      <img
        src="assets/home/restaurants/one.png"
        alt="Restaurant Image"
        class="w-40 h-42 object-cover"
        style="border-radius: 20px; width: 280px; height: 180px;"
      />
      <h3 class="text-xl font-semibold mt-2 ml-2">Pizza Hut</h3>
      <p class="font-semibold ml-2">
        <span><i class="bi bi-star mr-1"></i></span>4.1 50-55mins
      </p>
      <p class="text-gray-500 ml-2">Pizzas</p>
      <p class="text-gray-500 ml-2">Bachupally</p>
    </a>

    <!-- KFC -->
    <a href="restaurant" class="p-4">
      <img
        src="assets/home/restaurants/kfc.png"
        alt="KFC Image"
        class="w-40 h-42 object-cover"
        style="border-radius: 20px; width: 280px; height: 180px;"
      />
      <h3 class="text-xl font-semibold mt-2 ml-2">KFC</h3>
      <p class="font-semibold ml-2">
        <span><i class="bi bi-star mr-1"></i></span>4.7 30-35mins
      </p>
      <p class="text-gray-500 ml-2">Chicken, Fast Food, Burgers</p>
      <p class="text-gray-500 ml-2">Mohan Nagar</p>
    </a>

    <!-- McDonald's -->
    <a href="restaurant" class="p-4">
      <img
        src="assets/home/restaurants/mc.png"
        alt="McDonald's Image"
        class="w-40 h-42 object-cover"
        style="border-radius: 20px; width: 280px; height: 180px;"
      />
      <h3 class="text-xl font-semibold mt-2 ml-2">McDonald's</h3>
      <p class="font-semibold ml-2">
        <span><i class="bi bi-star mr-1"></i></span>4.5 20-25mins
      </p>
      <p class="text-gray-500 ml-2">Burgers, Fries, Fast Food</p>
      <p class="text-gray-500 ml-2">Sector 21</p>
    </a>

    <!-- Chinese Work -->
    <a href="restaurant" class="p-4">
      <img
        src="assets/home/restaurants/chinese.png"
        alt="Chinese Work Image"
        class="w-40 h-42 object-cover"
        style="border-radius: 20px; width: 280px; height: 180px;"
      />
      <h3 class="text-xl font-semibold mt-2 ml-2">Chinese Work</h3>
      <p class="font-semibold ml-2">
        <span><i class="bi bi-star mr-1"></i></span>4.3 35-40mins
      </p>
      <p class="text-gray-500 ml-2">Chinese, Noodles, Dim Sum</p>
      <p class="text-gray-500 ml-2">New City Center</p>
    </a>

    <!-- Burger King -->
    <a href="restaurant" class="p-4">
      <img
        src="assets/home/restaurants/burgerking.png"
        alt="Burger King Image"
        class="w-40 h-42 object-cover"
        style="border-radius: 20px; width: 280px; height: 180px;"
      />
      <h3 class="text-xl font-semibold mt-2 ml-2">Burger King</h3>
      <p class="font-semibold ml-2">
        <span><i class="bi bi-star mr-1"></i></span>4.4 20-30mins
      </p>
      <p class="text-gray-500 ml-2">Burgers, Fast Food</p>
      <p class="text-gray-500 ml-2">MG Road</p>
    </a>

    <!-- Kwality Walls -->
    <a href="restaurant" class="p-4">
      <img
        src="assets/home/restaurants/kwalitywalls.png"
        alt="Kwality Walls Image"
        class="w-40 h-42 object-cover"
        style="border-radius: 20px; width: 280px; height: 180px;"
      />
      <h3 class="text-xl font-semibold mt-2 ml-2">Kwality Walls</h3>
      <p class="font-semibold ml-2">
        <span><i class="bi bi-star mr-1"></i></span>4.8 15-20mins
      </p>
      <p class="text-gray-500 ml-2">Ice Cream, Desserts</p>
      <p class="text-gray-500 ml-2">Ameerpet</p>
    </a>

      <!-- Cream Stone -->
      <a href="restaurant" class="p-4">
        <img
          src="assets/home/restaurants/creamstone.png"
          alt="Cream Stone Image"
          class="w-40 h-42 object-cover"
          style="border-radius: 20px; width: 280px; height: 180px;"
        />
        <h3 class="text-xl font-semibold mt-2 ml-2">Cream Stone</h3>
        <p class="font-semibold ml-2">
          <span><i class="bi bi-star mr-1"></i></span>4.6 20-25mins
        </p>
        <p class="text-gray-500 ml-2">Ice Cream, Desserts</p>
        <p class="text-gray-500 ml-2">Banjara Hills</p>
      </a>

      <!-- Dadu's -->
      <a href="restaurant" class="p-4">
        <img
          src="assets/home/dadus.png"
          alt="Dadu's Image"
          class="w-40 h-42 object-cover"
          style="border-radius: 20px; width: 280px; height: 180px;"
        />
        <h3 class="text-xl font-semibold mt-2 ml-2">Dadu's</h3>
        <p class="font-semibold ml-2">
          <span><i class="bi bi-star mr-1"></i></span>4.9 10-15mins
        </p>
        <p class="text-gray-500 ml-2">Sweets, Desserts</p>
        <p class="text-gray-500 ml-2">KPHB</p>
      </a>

      <!-- Red Bucket Biryani -->
      <a href="/restaurant/red-bucket-biryani" class="p-4">
        <img
          src="assets/home/restaurants/redbucket.png"
          alt="Red Bucket Biryani Image"
          class="w-40 h-42 object-cover"
          style="border-radius: 20px; width: 280px; height: 180px;"
        />
        <h3 class="text-xl font-semibold mt-2 ml-2">Red Bucket Biryani</h3>
        <p class="font-semibold ml-2">
          <span><i class="bi bi-star mr-1"></i></span>4.5 40-45mins
        </p>
        <p class="text-gray-500 ml-2">Biryani, Mughlai</p>
        <p class="text-gray-500 ml-2">Secunderabad</p>
      </a>

      <!-- Arabian Mandi House -->

      <a href="restaurant" class="p-4">
        <img
          src="assets/home/arabian.png"
          alt="Arabian Mandi House Image"
          class="w-40 h-42 object-cover"
          style="border-radius: 20px; width: 280px; height: 180px;"
        />
        <h3 class="text-xl font-semibold mt-2 ml-2">Arabian Mandi House</h3>
        <p class="font-semibold ml-2">
          <span><i class="bi bi-star mr-1"></i></span>4.6 30-35mins
        </p>
        <p class="text-gray-500 ml-2">Mandi, Arabic</p>
        <p class="text-gray-500 ml-2">Jubilee Hills</p>
      </a>

      <!-- My Village Kitchen -->
      <a href="restaurant" class="p-4">
        <img
          src="assets/home/restaurants/myvillagekitchen.png"
          alt="My Village Kitchen Image"
          class="w-40 h-42 object-cover"
          style="border-radius: 20px; width: 280px; height: 180px;"
        />
        <h3 class="text-xl font-semibold mt-2 ml-2">My Village Kitchen</h3>
        <p class="font-semibold ml-2">
          <span><i class="bi bi-star mr-1"></i></span>4.3 25-30mins
        </p>
        <p class="text-gray-500 ml-2">South Indian, Thali</p>
        <p class="text-gray-500 ml-2">Madhapur</p>
      </a>


      <!-- Green Bawarchi -->
      <a href="restaurant" class="p-4">
        <img
          src="assets/home/restaurants/greenbawarchi.png"
          alt="Green Bawarchi Image"
          class="w-40 h-42 object-cover"
          style="border-radius: 20px; width: 280px; height: 180px;"
        />
        <h3 class="text-xl font-semibold mt-2 ml-2">Green Bawarchi</h3>
        <p class="font-semibold ml-2">
          <span><i class="bi bi-star mr-1"></i></span>4.2 40-45mins
        </p>
        <p class="text-gray-500 ml-2">Biryani, Mughlai, North Indian</p>
        <p class="text-gray-500 ml-2">Ameerpet</p>
      </a>
      
  
    </div>
    </section>

    <hr class="my-5 mx-28">

    <!-- Best Places to Eat Across Cities -->
   <section class="my-8 mx-28">
    <h2 class="text-xl font-bold mb-4">Best Places to Eat Across Cities</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4  p-2">
      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

    </div>

   </section>

   <hr class="my-5 mx-28">


   <!-- Best Cuisines Near Me -->
   <section class="my-8 mx-28">
    <h2 class="text-xl font-bold mb-4">Best Cuisines Near Me</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 p-2">
      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>

      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">Best Restaurants in Bangalore</p>
      </div>
      
      <!-- <button
        id="show-more-btn"
        class=" border border-[rgba(2, 6, 12, 0.05)] rounded-md -py-3"
        onclick="toggleItems()"
        >
        Show More
      </button> -->
      <div class="p-4">
        <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center" >Best Restaurants in Bangalore</p>
      </div>

    </div>

   </section>

   <hr class="my-5 mx-28">

   <!-- Explore Every Restaurants Near Me -->
   <section class="my-8 mx-28">
  <h2 class="text-xl font-bold mb-4 ">
    Explore Every Restaurant Near Me
  </h2>

  <div class="grid grid-cols-1  lg:grid-cols-4 gap-4 p-2">
    <div class="p-4">
      <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">
        Best Restaurants in Bangalore
      </p>
    </div>

    <div class="p-4">
      <p class="box-border border border-[rgba(2, 6, 12, 0.05)] rounded-md p-2 font-semibold text-[rgba(2, 6, 12, 0.75)] text-center">
        Explore Top Rated Restaurants Near Me
      </p>
    </div>
  </div>
   </section>
   

   <hr class="mx-28 -mb-8 border-black">
   <!-- footer code -->
   <div class="px-4  flex-col bg-gray-100">
    <div class="mt-8 px-12 flex flex-col ml-28 gap-5 pt-8 lg:flex-row">
      <p class="font-bold text-xl pt-5">For better experience, download the Swiggy app now</p>
      <a target="_blank" href="https://play.google.com/store/apps/details?id=in.swiggy.android&referrer=utm_source%3Dswiggy%26utm_medium%3Dheader">
        <img src="assets/home/footer1.png" alt="" style="width: 230px; height: 80px;">
      </a>
      <a target="_blank" href="https://apps.apple.com/in/app/swiggy-food-instamart-dineout/id989540920?referrer=utm_source%3Dswiggy%26utm_medium%3Dhomepage">
        <img src="assets/home/footer2.png" alt="" style="width: 230px; height: 80px;">
      </a>
    </div>
    <div class="flex flex-col  gap-2 pb-8 mt-12  lg:flex-row ml-40">
      <div class="flex-shrink-0">
        <img src="assets/home/swiggy.png" alt="">
        <p>© 2024 Swiggy Limited</p>
      </div>
  
      <div class="flex-col ml-20">
        <h2 class="font-bold mb-2">Company</h2>
        <ul class="list-none space-y-2">
          <li>About Us</li>
          <li>Swiggy Corporate</li>
          <li>Careers</li>
          <li>Team</li>
          <li>Swiggy One</li>
          <li>Swiggy Instamart</li>
          <li>Swiggy Dineout</li>
          <li>Swiggy Genie</li>
        </ul>
      </div>
  
      <div class="flex-col ml-12">
        <h2 class="font-bold mb-2">Contact us</h2>
        <ul class="list-none space-y-2">
          <li>Help & Support</li>
          <li>Partner with us</li>
          <li>Ride with us</li>
        </ul>
  
        <h2 class="font-bold mt-16 mb-2">Legal</h2>
        <ul class="list-none space-y-2">
          <li>Terms & Conditions</li>
          <li>Cookie Policy</li>
          <li>Privacy Policy</li>
          <li>Investor Relations</li>
        </ul>
      </div>
  
      <div class="flex-col ml-12">
        <h2 class="font-bold mb-2">Available in:</h2>
        <ul class="list-none space-y-2">
          <li>Bangalore</li>
          <li>Gurgaon</li>
          <li>Hyderabad</li>
          <li>Delhi</li>
          <li>Mumbai</li>
          <li>Pune</li>
        </ul>
      </div>
  
      <div class="flex-col ml-12">
        <h2 class="font-bold mb-2">Life at Swiggy</h2>
        <ul class="list-none space-y-2">
          <li>Explore with Swiggy</li>
          <li>Swiggy News</li>
          <li>Snackables</li>
        </ul>
  
        <h2 class="font-bold mt-16">Social Links</h2>
        <div class="flex gap-4">
          <a target="_blank" href="https://www.linkedin.com/company/swiggy-in/"><i class="bi bi-linkedin"></i></a>
          <a target="_blank" href="https://www.instagram.com/swiggyindia/?hl=en"><i class="bi bi-instagram"></i></a>
          <a target="_blank" href="https://www.facebook.com/swiggy.in/"><i class="bi bi-facebook"></i></a>
          <a target="_blank" href="https://in.pinterest.com/swiggyindia/"><i class="bi bi-pinterest"></i></a>
          <a target="_blank" href="https://x.com/Swiggy?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="bi bi-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>

</div>

